body{
    margin: 0px;
    padding: 0px;
}
    .purple {background-color: purple;}
    .black {background-color: black;}
    .ciel {background-color: lightskyblue;}
    .blue {background-color: blue;}
    .green {background-color: green;}
    .yellow {background-color: yellow;}
    .red {background-color: red;}